.list{
    color: black;
    background-color: rgb(228, 85, 228);
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    width: 300px;
    font-weight: 500;
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons{
    margin: 0 5px;
    font-size: 15px;
}

.list p input{
    background-color:transparent;
    border: 0;
    color: black;
    font-size: 18px;
    opacity: 0.8;
}

.list p input:focus{
    outline: none;
}